*{
	font-family: "Helvetica Neue", Arial, sans-serif;
}
.brn-pod{
	font-size: 13px
}
#subtitle{
	font-weight: 100;
	letter-spacing: 2px;
}
h3 {
    color: #1B75BB;    
}

span {
    font-weight: bold;
}

p {
    color: #57575b;
}